<?xml version="1.0"?>

<launch>

<!-- launch file to kickstart estimation, mapping, navigation -->
  
  <arg name="config_okvis" default="config_uhumans_Tommaso.yaml" />
  <arg name="config_s8" default="config_uhumans_depth_Tommaso.yaml" />
  <arg name="package" value="$(find ros_submapping)"/> 
  <arg name="imu_topic" default="/tesse/imu/clean/imu"/>
  <arg name="cam0_topic" default="/tesse/left_cam/mono/image_raw"/>
  <arg name="cam1_topic" default="/tesse/right_cam/mono/image_raw"/>
  <arg name="depth_topic" default="/tesse/depth_cam/mono/image_raw"/>
  <arg name="rviz" default="true"/>

  <group ns="submapping">
    <node name="main" pkg="ros_submapping" type="main" args="$(find ros_submapping)/config/$(arg config_okvis) $(find ros_submapping)/config/$(arg config_s8)  $(arg package) $(arg imu_topic) $(arg cam0_topic) $(arg cam1_topic) $(arg depth_topic)" output="screen" /> <!-- launch-prefix="xterm -e gdb - - args" -->
  </group>
  
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_rotors)/rviz/config_1.rviz" output="screen" launch-prefix="xterm -e"/>
  </group>

  <!-- all okvis output is published wrt odom frame-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-16.04391 -2.61944 2.461393 0 0 -0.04641965028571606 0.998922027020804 world odom 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.2 0 0 0 world odom 500" />

</launch>
